@page
@model Traslado_Seguro.Pages.ServicioTransporte.IndexModel
@{
	ViewData["Title"] = "Index Servicio Transporte";
}
<h1>Servicio Trasnporte</h1>

 @* <p>
	<a asp-page="Create" class="btn btn-success">Create New</a>
</p> *@ 

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model=>model.SevicioTransportes[0].conductor)
			</th>
			<th>
				@Html.DisplayNameFor(model=>model.SevicioTransportes[0].Cliente)
			</th>
			<th>
				@Html.DisplayNameFor(model=>model.SevicioTransportes[0].fecha)

			</th>
			<th>
				@Html.DisplayNameFor(model=>model.SevicioTransportes[0].Origen)
			</th>
			<th>
				@Html.DisplayNameFor(model=>model.SevicioTransportes[0].Destino)
			</th>
			<th>
				@Html.DisplayNameFor(model=>model.SevicioTransportes[0].Descripcion)
			</th>
			<th>
				@Html.DisplayNameFor(model=>model.SevicioTransportes[0].Costo)
			</th>

		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.SevicioTransportes)
		{
						<tr>
							<td>
					@Html.DisplayFor(modelItem=> item.conductor)
							</td>
							<td>
					@Html.DisplayFor(modelItem=> item.Cliente)
							</td>
								<td>
					@Html.DisplayFor(modelItem=> item.fecha)

								</td>
									<td>
					@Html.DisplayFor(modelItem=> item.Origen)
								</td>
									<td>
					@Html.DisplayFor(modelItem=> item.Destino)
								</td>
									<td>
					@Html.DisplayFor(modelItem=> item.Descripcion)
									</td>
										<td>
					@Html.DisplayFor(modelItem=> item.Costo)
										</td>
				@* <td>
								<a asp-page ="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
							<a asp-page ="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
						</td> *@
							<td>
								<span></span>
							</td>
						</tr>
		}
	</tbody>
</table>